
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAudioDescriptionLabel" translate="stageCapServiceApp.audioDescription.home.createOrEditLabel">Create or edit a Audio Description</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.audioDescription.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.audioDescription.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="stageCapServiceApp.audioDescription.language" for="field_language">Language</label>
            <select class="form-control" name="language" ng-model="vm.audioDescription.language" id="field_language">
                <option value="FRENCH" translate="stageCapServiceApp.Language.FRENCH">FRENCH</option>
                <option value="ENGLISH" translate="stageCapServiceApp.Language.ENGLISH">ENGLISH</option>
                <option value="SPANISH" translate="stageCapServiceApp.Language.SPANISH">SPANISH</option>
                <option value="GERMAN" translate="stageCapServiceApp.Language.GERMAN">GERMAN</option>
                <option value="ITALIAN" translate="stageCapServiceApp.Language.ITALIAN">ITALIAN</option>
            </select>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFile($file, vm.audioDescription)">
            <label class="control-label" translate="stageCapServiceApp.audioDescription.file" for="field_file">File</label>
            <div>
                <div class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.audioDescription.fileContentType, vm.audioDescription.file)" ng-if="vm.audioDescription.file" target="_blank">open</a><br>
                    <span class="pull-left">{{vm.audioDescription.fileContentType}}, {{byteSize(vm.audioDescription.file)}}</span>
                    <button ng-click="vm.audioDescription.file=null;vm.audioDescription.fileContentType=null;"
                            ng-if="vm.audioDescription.file"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFile($file, vm.audioDescription)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="file" id="field_file"
                    ng-model="vm.audioDescription.file"
                    required />
            <input type="hidden" class="form-control" name="fileContentType" id="field_fileContentType"
                    ng-model="vm.audioDescription.fileContentType" />
            <div ng-show="editForm.file.$invalid">
                <p class="help-block"
                    ng-show="editForm.file.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="stageCapServiceApp.audioDescription.project" for="field_project">Project</label>
            <select class="form-control" id="field_project" name="project" ng-model="vm.audioDescription.project" ng-options="project as project.title for project in vm.projects track by project.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
