<div>
    <h2 translate="stageCapServiceApp.subtitle.home.title" translate-values="{param: '{{vm.project.title}}'}">Subtitles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="subtitle.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="stageCapServiceApp.subtitle.home.createLabel">
                        Create new Subtitle
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'stageCapServiceApp.subtitle.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="stageCapServiceApp.subtitle.language">Language</span></th>
                    <th><span translate="stageCapServiceApp.subtitle.file">File</span></th>
                    <th><span translate="stageCapServiceApp.subtitle.project">Project</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subtitle in vm.subtitles track by subtitle.id">
                    <td><a ui-sref="subtitle-detail({id:subtitle.id})">{{subtitle.id}}</a></td>
                    <td translate="{{'stageCapServiceApp.Language.' + subtitle.language}}">{{subtitle.language}}</td>
                    <td><a ng-click="vm.openFile(subtitle.fileContentType, subtitle.file)" ng-if="subtitle.file" target="_blank">open</a>
                        {{subtitle.fileContentType}}, {{byteSize(subtitle.file)}}</td>
                    <td>
                        <a ui-sref="project-detail({id:subtitle.project.id})">{{subtitle.project.title}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="subtitle-detail({id:subtitle.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="subtitle.edit({id:subtitle.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="subtitle.delete({id:subtitle.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
